// Colors
$brightBlue: #0d9cca;
$white80: transparentize(rgb(255 255 255), 0.2);
$white9: transparentize(rgb(255 255 255), 0.91);
$grey: grey;
$dark: #423e3e;
$darkGreen: #2f3a15;
$darkRed: #bd1004;
$midGreen: #04c263;
$darkYellow: #dba307;
$glowShadow: transparentize(rgb(187, 232, 79), 0.11);
$glow: rgb(187, 232, 79);

// Font Sizes
$small-font-size: 13px;
$normal-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 24px;
$huge-font-size: 50px;

//Font family
$fingerPaint: "Finger Paint", cursive;
